<?xml version="1.0"?>

<Settings>
	<GeneralSettings>
		<InternalTenantIds>
			<TenantId>%INSERT TENANT ID HERE%</TenantId>
		</InternalTenantIds>
		
		<AddXFFHeader>TRUE</AddXFFHeader>
		
		<APITokenPurgeInterval>10</APITokenPurgeInterval>
		
		<ConversationMapLifetime>10</ConversationMapLifetime>
		<UserLifetime>300</UserLifetime>
		
		<MaxAPIUserLookupThreads>30</MaxAPIUserLookupThreads>
		
		<LogLevels>
			<CORE>DEBUG</CORE>
			<RULEEVAL>INFO</RULEEVAL>
			<APITOKENMGMT>INFO</APITOKENMGMT>
			<GETTEAMSUSER>INFO</GETTEAMSUSER>
			<GETCONVERSATION>INFO</GETCONVERSATION>
		</LogLevels>
	</GeneralSettings>
	
	<Rules>
		<Rule>
			<RuleName>Block external actions</RuleName>
			
			<Conditions>
				<Condition>
					<Type>FEDERATED</Type>
					<Value>TRUE</Value>
				</Condition>
			</Conditions>
			
			<Actions>
				<Action>
					<Type>BLOCK</Type>
				</Action>
				
				<Action>
					<Type>LOG</Type>
					<Param1>Exterernal (federated) action blocked!</Param1>
				</Action>
			</Actions>
		</Rule>
		
		
		<Rule>
			<RuleName>Log emoji reactions</RuleName>
			
			<Conditions>
				<Condition>
					<Type>EVENT</Type>
					<Value>MSGEMO</Value>
				</Condition>
			</Conditions>
			
			<Actions>
				<Action>
					<Type>LOG</Type>
					<Param1>Reaction blocked!</Param1>
				</Action>
			</Actions>
		</Rule>
		
		<Rule>
			<RuleName>Block and log userA from consoto.com conversations</RuleName>
			
			<Conditions>
				<Condition>
					<Type>ACTORS</Type>
					<Value>usera@company.com</Value>
				</Condition>
				
				<Condition>
					<Type>PARTICIPANTS</Type>
					<Value>*@consoto.com</Value>
				</Condition>
			</Conditions>
			
			<Actions>
				<Action>
					<Type>BLOCK</Type>
				</Action>
				
				<Action>
					<Type>LOG</Type>
					<Param1>Message edit detected!</Param1>
				</Action>
			</Actions>
		</Rule>
		
		<Rule>
			<RuleName>Add custom header for meeting message chat sends</RuleName>
			
			<Conditions>
				<Condition>
					<Type>CONVERSATIONTYPE</Type>
					<Value>MEETINGCHAT</Value>
				</Condition>
				
				<Condition>
					<Type>EVENT</Type>
					<Value>MSGSND</Value>
				</Condition>
			</Conditions>
			
			<Actions>
				<Action>
					<Type>ADDHEADER</Type>
					<Param1>X-Teams-Message-Type</Param1>
					<Param1>MEETINGCHAT</Param1>
				</Action>
			</Actions>
		</Rule>
	</Rules>
	
</Settings>
